/* ---------- Status Bar ---------- */

.status-bar {
	-fx-padding: .5em 1em;
	-fx-background-color: rgb(221,221,221);
	-fx-border-width: 1px 0 0 0;
	-fx-border-color: rgb(181,181,181);
}
.status-bar .separator:vertical {
	-fx-padding: 0 1em;
}

.status-bar .separator:vertical .line {
	-fx-background-color: rgb(200,200,200);
	-fx-border-width: 0 1px 0 0;
	-fx-border-insets: 0;
}

.status-bar .label {
	-fx-padding: 2px 0px 2px .5em;
	-fx-font-size: 12px;
}

/* ---------- Bitcoin Chain Color ---------- */

.status-bar .label.chain {
	-fx-text-fill: rgb(255,148,40);
}
.status-bar .label.chain.regtest {
	-fx-text-fill: rgb(20,208,255);
}
.status-bar .label.chain.testnet {
	-fx-text-fill: rgb(54,207,26);
}
.status-bar .label.chain.segnet4 {
	-fx-text-fill: rgb(87,67,246);
}

/* ---------- Protocol badges ---------- */

.label.badge {
	-fx-font-size: 11px;
	-fx-text-fill: rgb(160,160,160);
}

/* ---------- Channels ---------- */

.channel {
	-fx-padding: 0;
}

.channel .grid {
	-fx-padding: .5em;
    -fx-vgap: .5em;
    -fx-hgap: .25em;
    -fx-font-size: 12px;
}

.channel-separator {
	-fx-background-color: rgb(220,220,220);
	-fx-pref-height: 1px;
	-fx-padding: 0 -.25em;
}

.channels-info {
	-fx-padding: 4em 0 0 0;
}
.channel-container {
	-fx-padding: 0;
}

.tab:top:selected {
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.table-view {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-border-insets: 0, 0, 0, 0;
    -fx-padding: 0;
    -fx-border-color: rgb(200, 200, 200);
}

.table-column:last-visible {
    -fx-background-insets: 0px, 0px 0px 1px 0, 1px 1px 2px 1px;
}
