<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2018 ACINQ SAS
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<configuration scan="true" debug="false">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <withJansi>false</withJansi>
        <encoder>
            <pattern>%yellow(${HOSTNAME} %d) %highlight(%-5level) %logger{24} %X{nodeId}%X{channelId} - %msg%ex{12}%n</pattern>
        </encoder>
    </appender>

    <appender name="YELLOW" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <withJansi>false</withJansi>
        <encoder>
            <pattern>%yellow(${HOSTNAME} %d) %highlight(%-5level) %logger{24} %X{nodeId}%X{channelId} - %yellow(%msg) %ex{12}%n</pattern>
        </encoder>
    </appender>

    <appender name="RED" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <withJansi>false</withJansi>
        <encoder>
            <pattern>%yellow(${HOSTNAME} %d) %highlight(%-5level) %logger{24} %X{nodeId}%X{channelId} - %red(%msg) %ex{12}%n</pattern>
        </encoder>
    </appender>

    <appender name="BLUE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <withJansi>false</withJansi>
        <encoder>
            <pattern>%yellow(${HOSTNAME} %d) %highlight(%-5level) %logger{24} %X{nodeId}%X{channelId} - %blue(%msg) %ex{12}%n</pattern>
        </encoder>
    </appender>

    <appender name="CYAN" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <withJansi>false</withJansi>
        <encoder>
            <pattern>%yellow(${HOSTNAME} %d) %highlight(%-5level) %logger{24} %X{nodeId}%X{channelId} - %cyan(%msg) %ex{12}%n</pattern>
        </encoder>
    </appender>

    <appender name="GREEN" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <withJansi>false</withJansi>
        <encoder>
            <pattern>%yellow(${HOSTNAME} %d) %highlight(%-5level) %logger{24} %X{nodeId}%X{channelId} - %green(%msg) %ex{12}%n</pattern>
        </encoder>
    </appender>

    <appender name="MAGENTA" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <withJansi>false</withJansi>
        <encoder>
            <pattern>%yellow(${HOSTNAME} %d) %highlight(%-5level) %logger{24} %X{nodeId}%X{channelId} - %magenta(%msg) %ex{12}%n</pattern>
        </encoder>
    </appender>

    <logger name="fr.acinq.eclair.io.Peer" level="INFO" additivity="false">
        <appender-ref ref="RED"/>
    </logger>

    <logger name="fr.acinq.eclair.channel" level="INFO" additivity="false">
        <appender-ref ref="BLUE"/>
    </logger>

    <logger name="fr.acinq.eclair.payment" level="INFO" additivity="false">
        <appender-ref ref="GREEN"/>
    </logger>

    <logger name="fr.acinq.eclair.blockchain.bitcoind.ZmqWatcher" level="INFO" additivity="false">
        <appender-ref ref="YELLOW"/>
    </logger>

    <logger name="fr.acinq.eclair.blockchain" level="INFO" additivity="false">
        <appender-ref ref="YELLOW"/>
    </logger>

    <logger name="fr.acinq.eclair.router" level="INFO" additivity="false">
        <appender-ref ref="CYAN"/>
    </logger>

    <logger name="fr.acinq.eclair.gui" level="INFO" additivity="false">
        <appender-ref ref="MAGENTA"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>