<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <withJansi>false</withJansi>
        <encoder>
            <pattern>%yellow(${HOSTNAME} %d) %highlight(%-5level) %logger{36} %X{akkaSource} - %msg%ex{12}%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${eclair.datadir:-${user.home}/.eclair}/eclair.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d %-5level %logger{36} %X{akkaSource} %X{channelId} - %msg%ex{24}%n</pattern>
        </encoder>
    </appender>

    <if condition='isDefined("eclair.printToConsole")'>
        <then>
            <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                    <pattern>%d %-5level %logger{36} %X{akkaSource} %X{channelId} - %msg%ex{24}%n</pattern>
                </encoder>
            </appender>
            <root>
                <appender-ref ref="CONSOLE"/>
            </root>
        </then>
    </if>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>

</configuration>