<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <!--appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <withJansi>false</withJansi>
        <encoder>
            <pattern>%yellow(${HOSTNAME} %d) %highlight(%-5level) %logger{36} %X{akkaSource} - %msg%ex{12}%n</pattern>
        </encoder>
    </appender-->

    <!--appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${user.home}/.eclair/eclair.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d %-5level %logger{36} %X{akkaSource} - %msg%ex{24}%n</pattern>
        </encoder>
    </appender-->

    <logger name="fr.acinq.eclair.channel" level="DEBUG"/>
    <logger name="fr.acinq.eclair.channel.Register" level="DEBUG"/>
    <logger name="fr.acinq.eclair.router" level="INFO"/>

    <root level="INFO">
        <!--appender-ref ref="CONSOLE"/-->
        <!--appender-ref ref="FILE"/-->
    </root>

</configuration>