<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="false">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <withJansi>false</withJansi>
        <encoder>
            <pattern>%yellow(${HOSTNAME} %d) %highlight(%-5level) %logger{36} %X{akkaSource} - %msg%ex{12}%n</pattern>
        </encoder>
    </appender>

    <appender name="YELLOW" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <withJansi>false</withJansi>
        <encoder>
            <pattern>%yellow(${HOSTNAME} %d) %highlight(%-5level) %logger{36} %X{akkaSource} - %yellow(%msg) %ex{12}%n</pattern>
        </encoder>
    </appender>

    <appender name="RED" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <withJansi>false</withJansi>
        <encoder>
            <pattern>%yellow(${HOSTNAME} %d) %highlight(%-5level) %logger{36} %X{akkaSource} - %red(%msg) %ex{12}%n</pattern>
        </encoder>
    </appender>

    <appender name="BLUE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <withJansi>false</withJansi>
        <encoder>
            <pattern>%yellow(${HOSTNAME} %d) %highlight(%-5level) %logger{36} channelId=%X{channelId} - %blue(%msg) %ex{12}%n</pattern>
        </encoder>
    </appender>

    <appender name="CYAN" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <withJansi>false</withJansi>
        <encoder>
            <pattern>%yellow(${HOSTNAME} %d) %highlight(%-5level) %logger{36} %X{akkaSource} - %cyan(%msg) %ex{12}%n</pattern>
        </encoder>
    </appender>

    <appender name="GREEN" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <withJansi>false</withJansi>
        <encoder>
            <pattern>%yellow(${HOSTNAME} %d) %highlight(%-5level) %logger{36} %X{akkaSource} - %green(%msg) %ex{12}%n</pattern>
        </encoder>
    </appender>

    <appender name="MAGENTA" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <withJansi>false</withJansi>
        <encoder>
            <pattern>%yellow(${HOSTNAME} %d) %highlight(%-5level) %logger{36} %X{akkaSource} - %magenta(%msg) %ex{12}%n</pattern>
        </encoder>
    </appender>

    <logger name="fr.acinq.eclair.io.Peer" level="INFO" additivity="false">
        <appender-ref ref="RED"/>
    </logger>

    <logger name="fr.acinq.eclair.channel" level="INFO" additivity="false">
        <appender-ref ref="BLUE"/>
    </logger>

    <logger name="fr.acinq.eclair.payment" level="INFO" additivity="false">
        <appender-ref ref="GREEN"/>
    </logger>

    <logger name="fr.acinq.eclair.blockchain.bitcoind.ZmqWatcher" level="INFO" additivity="false">
        <appender-ref ref="YELLOW"/>
    </logger>

    <logger name="fr.acinq.eclair.blockchain" level="INFO" additivity="false">
        <appender-ref ref="YELLOW"/>
    </logger>

    <logger name="fr.acinq.eclair.router" level="INFO" additivity="false">
        <appender-ref ref="CYAN"/>
    </logger>

    <logger name="fr.acinq.eclair.gui" level="INFO" additivity="false">
        <appender-ref ref="MAGENTA"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>