/* ---------- Root ---------- */

.root {
    -fx-font-size: 14px;
    -fx-text-fill: rgb(80, 82, 84);
}

/* ---------- Text Utilities (color, weight) ---------- */

.text-strong {
	-fx-font-weight: bold;
}

.text-sm {
    -fx-font-size: 12px;
}

.text-error {
	-fx-text-fill: rgb(216,31,74);
	-fx-font-size: 11px;
}

.text-error.text-error-downward {
	-fx-translate-y: 24px;
}

.text-error.text-error-upward {
	-fx-translate-y: -24px;
}

.label-description {
    -fx-text-fill: rgb(146,149,151);
    -fx-font-size: 11px;
}

.link {
    -fx-text-fill: rgb(25,157,221);
    -fx-fill: rgb(25,157,221);
    -fx-underline: true;
    -fx-cursor: hand;
}
.link:hover {
    -fx-text-fill: rgb(93,199,254);
    -fx-fill: rgb(93,199,254);
}

.text-muted,
.label.text-muted {
	-fx-text-fill: rgb(146,149,151);
}

.align-right {
    /* useful for table columns */
    -fx-alignment: CENTER_RIGHT;
}

/* ---------- Context Menu ---------- */

.context-menu {
    -fx-padding: 4px;
    -fx-font-weight: normal;
    -fx-font-size: 12px;
}
.context-menu .menu-item:focused {
   -fx-background-color: rgb(63,179,234);
}
.context-menu .menu-item:focused .label {
   -fx-text-fill: white;
}
.context-menu .separator {
    -fx-padding: 2px 0;
}

.menu-bar .context-menu {
    /* font size in menu context popup is standard */
    -fx-font-size: 14px;
}

/* ---------- Grid Structure ---------- */

.grid {
	-fx-vgap: 1em;
	-fx-hgap: 1em;
	-fx-padding: 1em;
}

/* ------------- Not Editable TextFields ------------- */
/* Java FX text can only be selected if in a TextField or TextArea */
/* Make it look like a standard label with the editable = false prop and a special styling */
.text-area.noteditable,
.text-field.noteditable,
.text-field.noteditable:hover,
.text-field.noteditable:focused,
.noteditable {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-padding: 0;
}
.text-area.noteditable .scroll-pane {
    -fx-background-color: transparent;
}
.text-area.noteditable .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area.noteditable .scroll-pane .content{
    -fx-background-color: transparent;
    -fx-padding: 0;
}

/* ---------- Progress Bar ---------- */

.bar {
	-fx-background-color: rgb(63,179,234);
	-fx-background-insets: 0;
	-fx-background-radius: 0;
}

.track {
	-fx-background-color: rgb(206,230,255);
	-fx-background-insets: 0;
	-fx-background-radius: 0;
}

/* ---------- Forms ----------- */
.options-separator {
    -fx-translate-y: -7px;
}