.bar {
	-fx-background-color: rgb(63,179,234);
	-fx-background-insets: 0;
	-fx-background-radius: 0;
}

.track {
	-fx-background-color: rgb(206,230,255);
	-fx-background-insets: 0;
	-fx-background-radius: 0;
}
